.wrapper {
    background: var(--cardBgColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;

    .day {
        color: var(--textColor);
        font-family: "Roboto";
        font-weight: 300;
        font-style: normal;
        font-size: 16px;
    }

    .box {
        display: flex;
        align-items: center;
        justify-content: center;

        .temperature {
            color: var(--textColor);
            font-family: "Roboto";
            font-weight: 400;
            font-style: normal;
            font-size: 28px;
        }
    }
}
